#new-tweet {
    align-content: center;
    margin: 0, auto;
  }

  h2 {
    color: black;
  }
  
  #tweet-text {
    resize: none;
    width: 100%;
    background: none;
    border: none;
    border-bottom: solid 5px black;
    font-family: "Source Sans Pro", sans-serif;
  }
  
  #button-counter {
    display: flex;
    justify-content: space-between;
  }
  
  #button-counter button {
    background-color: #4056A1;
    font-family: Bungee;
  }

  
  .counter {
      display: inline;
    font-family: Bungee;
  }

  .red-font {
    color: red;
  }